<!-- ngStyle - diretiva do angular que adiciona estilo dinamicamente
  aqui estamos chamando um metodo que retorna o estilo -->
<div class="card" [ngStyle]="getEstilosCartao()">
  <!-- <img class="card-img-top" src="https://randomuser.me/api/portraits/women/58.jpg" alt="Card image cap"> -->
  <!-- {{func.id}} - acessando valor usando interpolacao -->
  <img class="card-img-top" src="https://randomuser.me/api/portraits/women/{{funcionario.id}}.jpg" alt="Card image cap">
  <!-- {{func.id}} - acessando valor usando interpolacao -->
  <!-- [ngClass] - diretiva que pode adicionar classes do css dinamicamente -->
  <!--  podemos ter uma chamada de um metodo retornando as classes -->
  <!--  class="badge" - podemos utilizar o class junto com a diretiva -->
  <div class="card-block"><span class="badge" [ngClass]="{'badge-danger': isAdmin(), 'badge-primary': !isAdmin()}">{{funcionario.nome}}</span></div>
</div>