<div class="container">
  <!-- app-funcionario-form com os dados do form -->
  <!-- app-funcionario-form (funcionarioAdicionado) - ligando o evento de funcionarioAdicionado  -->
  <!-- app-funcionario-form (funcionarioAdicionado)="aoAdicionar($event)" - indicando o evento aoAdicionar, passando o evento disponibilizado pelo app-funcionario-form
    event - no caso eh o funcionario, no componente estamos o enviado -->
  <app-funcionario-form (funcionarioAdicionado)="aoAdicionar($event)"></app-funcionario-form>

  <div class="row" style="margin-top: 20px;">
    <!-- *ngFor - uma diretiva estrutural -->
    <!-- *ngFor="let func of funcionarios" - estamos indicando uma variavel local, com o valor da iteracao -->
    <div class="col-2" *ngFor="let func of funcionarios">
      <!-- componente responsavel por exibir um card de funcionario -->
      <!-- [func] - estamos indicando um property binding
        [func]='func' - atribuindo o valor da iteracao ao componente -->
      <app-funcionario-card [func]='func'></app-funcionario-card>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="container">
      <!-- Ao utilizar pipes, estamos apenas formatando a saida -->
      <!-- o valor da variavel nao eh alterado -->
      <!-- | uppercase - transforma para letras maiusculas-->
      <h1>{{nome | uppercase}}</h1>
      <!-- | uppercase - transforma para datas-->
      <h1>{{dataAniversario | date: 'dd/MM/y'}}</h1>
      <!-- | uppercase - transforma para decimal-->
      <h1>{{preco | number:'4.2-2'}}</h1>
      <!-- | uppercase - transforma para moeda-->
      <h1>{{troco | currency:'BRL':'symbol':'4.2-2'}}</h1>
    </div>
  </div>

</div>

<div>
  <app-angular-form></app-angular-form>
</div>