/* Definindo o estilo para a toda aplicacao */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
}

label {
    font-weight: bold;
}

/* @media - utilizado para certas condicoes */
/* @media (min-width: 1200px) - sera aplicado caso a resolucao da tela chegue em 1200px */
@media (min-width: 1200px){
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

/* Define o posicionamento de coluna com valores */
.col-valor {
    width: 120px;
    text-align: right;
}

/* Define o posicionamento de coluna com datas */
.col-data {
    width: 120px;
    text-align: center;
}

/* Define o posicionamento de coluna com acoes */
.col-acoes {
    width: 90px;
    text-align: center;
}