<div class="container">

  <!-- exibindo o objeto cliente em formato json -->
  {{cliente | json}}
  <!-- indicando se o formularios esta valido de acordo com as validacoes dos campos -->
  valido {{usuarioForm.valid}}
  <br />
  <!-- usuarioForm.invalid - indica se o form esta invalido -->
  invalido {{usuarioForm.invalid}}

  <!-- *ngIf="usuarioForm.invalid" - sera rederizado apenas se o formulario estiver invalido -->
  <!-- && usuarioForm.touched - exibindo o formulario apenas se for tocado -->
  <div *ngIf="usuarioForm.invalid && usuarioForm.touched" class="alert alert-danger">
    Preencha todos os campos corretamente
  </div>

  <!-- quando adicionado o formModule do angular no projeto
  todos os forms serao gerenciados pelo angular
  #usuarioForm="ngForm" - criando referencia para o objeto exportado pela diretiva ngForm
  (ngSubmit)="salvar(usuarioForm)" - chamando evento submit da diretiva passando o formulario, a diretiva form -->
  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="form-group">
      <label for="nome">Nome</label>
      <!-- ngModel - indicando que este campo eh um control do angular -->
      <!-- name="nome" - usado para definir o nome do control do angular -->
      <!-- [(ngModel)]="cliente.nome" - realizando o two way databind com a propriedade de cliente -->
      <!-- [(ngModel)] - estamos indicando que relaizaremos o bind de propriedade e evento -->
      <!-- required - indica que o campo eh valido, tem que ter um valor -->
      <!-- minlength="10 - indica a quantidade minima de caracteres -->
      <!-- #nome="ngModel" - referencia a diretiva model do input -->
      <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" [(ngModel)]="cliente.nome" required minlength="10"
        #nome="ngModel">

      <!-- touched - indica que o campo foi tocado -->
      touched: {{nome.touched}}
      <br />
      <!-- pristine - indica se o campo esta intacto, sem alteracao -->
      pristine: {{nome.pristine}}
      <br />
      <!-- pristine - indica que o campo foi alterado -->
      dirty: {{nome.dirty}}

      <!-- *ngIf="nome.invalid" - com a diretiva do input, podemos verificar -->
      <!-- se o campo esta invalido -->
      <div *ngIf="nome.invalid && nome.touched">
        Preencha o nome
      </div>
      <!-- *ngIf="nome.hasError('required')" - podemos ainda verificar por uma validacao em especifico -->
      <div *ngIf="nome.hasError('required') && nome.dirty">
        Preencha o nome obrigatorio
      </div>
      <div *ngIf="nome.hasError('minlength')  && !nome.pristine">
        Preencha o nome completo
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <!-- email - indicamos que eh uma caso do tipo email, fara a validacao de um email -->
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-mail" name="email" [(ngModel)]="cliente.email"
        required email #email="ngModel">
      <div *ngIf="email.invalid && email.touched">
        E-mail invalido
      </div>
    </div>

    <div class="form-group">
      <label for="profissao">Profissão</label>
      <!-- [ngModel]="profissao" - atribuindo o bind com propriedade profissao do componente -->
      <select class="form-control" id="profissao" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
        <option value="">Selecione</option>
        <!-- *ngFor="let prof of profissoes" - realizando a iteracao das profissoes que o controller fornece -->
        <!-- e montando os options -->
        <!-- <option *ngFor="let prof of profissoes">{{prof}}</option> -->
        <!-- [value]="prof" - podemos realizar um bind no retorno do options, passando o prof -->
        <option *ngFor="let prof of profissoes" [value]="prof">{{prof}}</option>
      </select>
      <div *ngIf="profissao.invalid && profissao.touched">
        Escolha uma profissão
      </div>
    </div>

    <!-- [disabled]="!usuarioForm.valid" - realizando bind na propriedade disabled -->
    <!-- onde indica que podemos apenas fazer o submit caso o formulario esteja valido -->
    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Salvar</button>
  </form>
</div>