.navbar {
    padding: 10px 0;
    background-color: #1E94D2;
}

.navbar-toggle {
    color: #fff;
}

.navbar-menu {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 210px;
    z-index: 9998;

    background-color: #3A3633;

    list-style: none;
}

.navbar-usuario {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #525111;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.navbar-menuitem {
    padding: 15px;
}

.navbar-menuitem a {
    color: #c0bbb7;
    text-decoration: none;
}

.navbar-menuitem a:hover {
    color: #fff;
}