<!-- container - class css da aplicacao -->
<div class="container">

  <!-- ui-g - usando grid css do primeng -->
  <div class="ui-g">
    <!-- ui-g-12 - ocupando todo o espaco da tela -->
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <!-- ui-fluid - indicando para o componente ocupar todo o espaco da coluna -->
    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <!-- display: block - posicionando o label para o lado -->
      <label style="display: block">Vencimento</label>
      <input pInputText type="text" style="width: 95px">

      <label>até</label>
      <input pInputText type="text" style="width: 95px">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <!-- [value]="lancamentos" - acessando a propriedade do componente -->
      <!-- [paginator]="true" - adicionando paginacao -->
      <!-- [rows]="3" - quantidade de elementos da tabela -->
      <!-- [responsive]="true" - adicionando responsividade propria do primeng -->
      <p-dataTable [value]="lancamentos" [paginator]="true" [rows]="3" [responsive]="true">
        <!-- field="pessoa" - informando propriedade do objeto -->
        <!-- header="Pessoa" - nome do cabecalho da coluna -->
        <p-column field="pessoa" header="Pessoa"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>
        <!-- styleClass="col-data" - aplicando estilo para uma coluna de data -->
        <p-column field="dataVencimento" header="Vencimento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span>{{ lanc.dataVencimento | date:'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column field="dataPagamento" header="Pagamento" styleClass="col-data">
          <ng-template let-lanc="rowData" pTemplate="body">
            <span>{{ lanc.dataPagamento | date:'dd/MM/yyyy' }}</span>
          </ng-template>
        </p-column>
        <p-column header="valor" styleClass="col-valor">
          <!-- ng-template - define os valores da coluna -->
          <!-- let-lanc="rowData" - criando uma variavel e pegando o objeto linha -->
          <!-- pTemplate="body" - indicando o que sera alterado -->
          <ng-template let-lanc="rowData" pTemplate="body">
            <!-- [ngStyle] - passando o estilo de acordo com o tipo -->
            <!-- <span [ngStyle]="{ color: lanc.tipo === 'DESPESA' ? 'red' : 'blue' }">{{lanc.valor}}</span> -->
            <!-- [style.color] - podemos alterar apenas a propriedade -->
            <span [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue'">{{lanc.valor | number:'1.2-2'}}</span>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body">
            <!--  podemos utilizar <a></a> quanto <button></button>-->
            <!-- pTooltip="Editar" - adicionado o toolTip -->
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Lançamento"></a>
    </div>
  </div>

</div>