<!-- *ngIf - toda diretiva estrutural, necessita de '*' precedido
    *ngIf - de acordo com uma expressao, o componente eh renderizado ou nao -->
<div class="alert alert-success" role="alert" *ngIf="adicionado">
  Funcionario adicionado: {{nome}}
</div>
<!-- [hidden]="!adicionado" - utilizando uma diretiva de propriedade, onde estamos
      apenas alterando um valor do componente, mas o componente esta renderizado no dom -->
<div class="alert alert-success" role="alert" [hidden]="!adicionado">
  Funcionario adicionado: {{nome}}
</div>

<div class="form-group">
  <label for="nome">Nome</label>
  <!-- #nomeInput - definindo uma variavel de referencia -->
  <!-- value="{{nome}}" - informando o binding do valor do campo -->
  <input type="text" id="nome" class="form-control" #nomeInput (input)="alterarNome(nomeInput.value)" value="{{nome}}">
  <!-- [value]="nome" - usando sugar syntax, ao usar [value], podemos informar o valor sera um atributo do componente, como nome -->
  <input type="text" id="nomeSugar" class="form-control" #nomeInputSugar (input)="alterarNome(nomeInputSugar.value)" [value]="nome">
  <!-- (input)="nome = $event.target.value" - alterando o valor do componente -->
  <input type="text" id="nomeEvent" class="form-control" #nomeInputSugar (input)="nome = $event.target.value" [value]="nome">
  <!-- [(ngModel)]="nome" - podemos ja chamar o event e property binding [(ngModel)] -chamado do de two way databind -->
  <input type="text" id="nomeTwoWay" class="form-control" #nomeInputSugar [(ngModel)]="nome" />
  <!-- (focus)="adicionado = false" - atribuindo o valor false quando o evento focus ocorrer -->
  <input type="text" id="nomeTwoWay" class="form-control" #nomeInputSugar [(ngModel)]="nome" (focus)="adicionado = false" />
</div>

<!-- bind-disabled - utilizando property binding, o valor sera adicionado de acordo com a expressao recebida -->
<button type="button" class="btn btn-primary" (click)='adicionar(nomeInput.value)' bind-disabled='nome.length == 0'>Adicionar SugarClick</button>
<!-- [disabled] - utilizando o sugar syntax -->
<button type="button" class="btn btn-primary" (click)='adicionar(nomeInput.value)' [disabled]='nome.length == 0'>Adicionar SugarClick</button>