<div class="alert alert-success" role="alert" *ngIf="adicionado">
  Funcionario adicionado: {{nome}}
</div>

<div class="form-group">
  <label for="nome">Nome</label>
  <!-- [cor]="'red'" - atribuindo valor da propriedade criada na diretiva -->
  <!-- #campo="campoColorido" - criando referencia a api disponivel da diretiva -->
  <input appCampoColorido type="text" id="nome" class="form-control" #nomeInput [(ngModel)]="nome" (focus)="adicionado = false"
    [cor]="'red'" #campo="campoColorido" />
</div>

<button type="button" class="btn btn-primary" (click)='adicionar(nomeInput.value)' [disabled]='nome.length == 0'>Adicionar</button>
<!-- campo.colorir() - utilizando metodo da diretiva -->
<button type="button" class="btn btn-info" (click)='campo.colorir()'>Colorir</button>
<button type="button" class="btn btn-info" (click)='campo.descolorir()'>Descolorir</button>