<div class="container">
  <!-- Utilizando databind do angular -->
  <h1>Usando databind, {{nome}}</h1>

  <h1>Usando idade, {{3+4}}</h1>

  <h1>Usando idade, {{getIdade()}}</h1>

  <h1>Usando idade, {{65+getIdade()}}</h1>

  <div class="alert alert-success" role="alert">
    Funcionario adicionado: {{nome}}
  </div>

  <div class="form-group">
    <label for="nome">Nome</label>
    <!-- (input)=alterarNome($event) - usango sugar syntax do campo input, e mandando o event input -->
    <input type="text" id="nome" class="form-control" (input)=alterarNome($event)>
  </div>

  <!-- on-click='adicionar()' - chamando evento do angular, on-click -->
  <button type="button" class="btn btn-primary" on-click='adicionar()'>Adicionar EventClick</button>
  <!-- on-click='adicionar()' - chamando evento do angular usando sugar syntax, (click) -->
  <button type="button" class="btn btn-primary" (click)='adicionar()'>Adicionar SugarClick</button>
</div>