<!--Utilizando tags do primeng-->
<p-dataTable [value]="itens">
  <p-column field="etiqueta" header="Etiqueta"></p-column>
  <p-column field="descricao" header="Descrição"></p-column>
  <p-column field="dataAquisicao" header="Aquisição"></p-column>
</p-dataTable>